#uwu
{
position: absolute;
left: 17%;


}

.baka
{
width: 1px;
height: 1px;
position: absolute;
left: 73%;
top: 22%;
color: black;
background-color: black;
padding: 0px;
}

#bakaimg
{
width: 100px;
height: 100px;
left: 50%;


}

#mobile
{
position: absolute;
top: 98%;
left: 97%;
}

.nic
{
top: 96.5%;
left: 45%;
position: absolute;




}