#uwu
{
position: absolute;
left: 17%;


}

.baka
{
width: 1px;
height: 1px;
position: absolute;
left: 46%;
top: 33%;
color: white;
background-color: white;
padding: 0px;
}

#bakaimg
{
width: 100px;
height: 100px;
left: 50%;


}

#mobile
{
position: absolute;
top: 98%;
left: 97%;
}
